# Composer
!.gitkeep
vendor/
composer.phar
composer.lock

# PHPUnit
.phpunit.result.cache

# PHP Documentor
.phpdoc
phpDocumentor.phar

# Others...
.DS_Store
Thumbs.db
tests/testdata/publish_vendor_dir/dist/vendor/
tests/testdata/publish_vendor_dir/dist_smt/vendor/
tests/testdata/publish_vendor_dir/dist_tab/vendor/
